root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 2-space indentation
[*.{json,md,yaml,yml,toml}]
indent_style = space
indent_size = 2

# Tab indentation
[Makefile,*.{bash,sh,zsh}]
indent_style = tab

# Shell scripts
[*.{bash,sh,zsh}]
# shell_variant      = posix
binary_next_line   = true
switch_case_indent = true
space_redirects    = true
keep_padding       = true
function_next_line = false
